/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #222831;
  --matr-navbar-font: black;
  --matr-border-color: #76ABAE;
  --matr-body-bg: #EEEEEE;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light: var(--matr-navbar-font);
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light,
#signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.black-background {
  background-color: var(--matr-navbar-bg);
  color: black;
  padding-top: 10px;
  padding-bottom: 20px;
}

.item-img {
  object-fit: cover;
}

nav::after {
  border-bottom: 8px solid #76ABAE;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
}

footer {
  border-top: 8px solid var(--matr-border-color);
}

body {
  background-color: var(--matr-body-bg);
}
